.box {
    border: 5px solid lightblue;
    border-radius: 20px 0px 40px 0px;
    background-image: url(star.png), url(star.png), url(star.png), url(star.png);
    background-repeat: no-repeat;
    background-position: 0%, 100%, 100% 25%, 100% 75%;
  }
  
  h2 {
    padding-left: 10%;
  }