/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /* font definition */
  @font-face {
    font-family: 'signatureregular';
    src: url('./fonts/signature-webfont.woff2') format('woff2'),
         url('./fonts/signature-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'deuxieme_rangregular';
    src: url('./fonts/deuxieme_rang-webfont.woff2') format('woff2'),
         url('./fonts/deuxieme_rang-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'deuxieme_rangitalic';
    src: url('./fonts/deuxieme_rang_italic-webfont.woff2') format('woff2'),
         url('./fonts/deuxieme_rang_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'deuxieme_rangoriginal';
    src: url('./fonts/deuxieme_rang_original-webfont.woff2') format('woff2'),
         url('./fonts/deuxieme_rang_original-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cursifregular';
    src:url('./fonts/cursif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  font-family: "signatureregular";
  font-size: 35px;
  line-height: 1.5em;
}
h1{
  text-align: center;
}
h1, h2{
   font-family: "cursifregular";
   font-size: .6em;
   letter-spacing: .25em;
}
h2+p{
  text-indent:3em;
}
a{
  text-decoration: underline;
  color: #a66;
}
a:hover{
  text-decoration: none;
}
nav ul li{
 /* box-sizing: border-box; */
 border: #a66 2px solid;
 background-color: #a66;
 list-style: none;
 text-align: center;
 margin-top: 2em;
}

nav ul li a{
  color: white;
  text-decoration: none;
  line-height: 5px;
}

aside ul li a{
  text-decoration: underline;
  color: #a66;
}


aside ul li a:hover{
  text-decoration: none;
}